#btn-close-modal {
    width:100%;
    padding: .5em .5em  0 .5em;
    text-align: right;
    cursor:pointer;
    color:#fff;
    font-size: 30pt;
    box-sizing: border-box;
}

#ModalDifficulty, #ModalHowToPlay > .modal-content{
    color: #fff;
    font-family: 'Inter';
    font-size: 6vw;
}

/*ESTYLES MODAL ModalDifficulty*/
#ModalDifficulty > .modal-content{
    text-align: center;
}
#ModalDifficulty > .modal-content > .menu__btn{
    display: block;
    margin: auto;
    padding: .8em .8em;
    margin-bottom: 1em;
    font-weight: bold;
}

/*ESTYLES MODAL HowToPlay*/
#ModalHowToPlay > .modal-content{
    padding: 0em 1em;
}
#ModalHowToPlay > .modal-content > p{
    font-size: 18pt;
}
#ModalHowToPlay > .modal-content > img{
    width: 100%;
}