.box_score__textGameOver, .box_score__text, .box_numberMysterious__text, .box_numberMysterious__number{
    font-family: 'Inter';
    font-weight: bold;
}
.box_numberMysterious__text, .box_score__text{
    color: #FD5005;
} 
.box_score__textGameOver{
    font-size: 45pt;
    text-align: center;
    margin: 0;
    color: #FE0000;
}
.text-win{
    color: #27D643;
}
.text-lose{
    color: #FE0000;
    font-size: 32pt;
}
.box_numberMysterious__text{
    font-size: 18pt;
}
.box_score__text{
    font-size: 25pt;
}
.box_numberMysterious__number{
    text-align: center;
    font-size: 25vw;
    margin: 0;
    color: rgb(182, 178, 178);
}
.box_score__numbers{
    font-family: 'Inter';
    font-size: 25pt;
    text-align: end;
    margin: .2em;

}
.btn_retry{
    background: #FD5005;
}
.btn_home{
    background: #27D643;
}
/*ANIMACIONES*/
.box_score{
    animation: bounceIn;
    animation-duration: .8s;
}
.btn_retry{
    animation: bounceIn;
    animation-duration: .6s;
}
.btn_home{
    animation: bounceIn;
    animation-duration: 1s;
}
@media (min-width:429px) {
    .box_numberMysterious__number{
        font-size: 60pt;
    }
    .btn_home{
        width: 30%;
        font-size: 25pt;
        padding: .2em .2em;
    }
}