body{
    margin: 0;
    padding: 0;
    background: #eee;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.content{
    width: 100%;
    max-width: 428px;
    height: 100vh;
}
.container{
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game__btn{
    font-size: 6vw;
    color: #fff;
    font-weight: bold;
    width: 25vw;
    padding: .5em;
    border: 0;
    text-decoration: none;
    font-family: 'Inter';
    text-align: center;
    border-radius: 10px 10px;
    display: block;
    margin: auto;
    margin-bottom: 1em;  
}
.color-red{
    color: #f44336;
}
.color-green{
    color: #6CD22D;
}
.color-yellow{
    color: #f9ce4d;
}
.back-green{
    background: #6CD22D;
}
.back-yellow{
    background: #f9ce4d;
}
.back-red{
    background: #f44336;
}
.title{
    position: relative;
    background: #fff;
    border: 1px solid #F86526;
    width: 100%;
    color: #F86526;
    box-sizing: border-box;
    top: 0;
    left: 0;
    text-align: center;
    padding: .5em;
}
.title__text{
    font-size: 20pt;
    font-weight: 1000;
    font-style: italic;
}
.box_score{
    width: 90%;
    height: auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: 15px 15px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 1em;
}
img[alt="www.000webhost.com"] {
    display: none !important;
}
.warning{
    text-align: center;
    font-family: Inter;
    margin: .3em .3em;
    font-size: 12vw;
    color: rgba(94, 94, 94, 0.274);
}

/*MEDIA QUERYS PARA PANTALLAS GRANDES*/
@media (min-width:429px) {
    body{
        display: flex;
        justify-content: center;
        background: gray;
    }
    .menu{
        background: #eee;;
    }
    /*MEDIA QUERIES DEL MODAL*/
    #animatedModal > .modal-content{
        font-size: 2.5vw;
    }
    #animatedModal{
        position: absolute !important;
    }
}