.lifes__container{
    margin: .5em;
    text-align: right;
    font-size: 18pt;
    font-weight: bold;
}
.game{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game__clue{
    width: 90%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid black;
}
.game__clue > h1, .game__clue > h2, .title__text, .lifes__container, .game__number_text, .game__input_number, .game__number_msg{
    font-family: 'Inter';
}
.game__number_msg, .lifes__container, .game__input_number{
    margin-bottom: 2vh;
}
.game__clue > h1{
    font-size: 23pt;
    color: #20740B;
    font-weight: 700;
}
.game__clue > h2{
    font-size: 25pt;
}
.game__number_text{
    font-size: 45vw;
    color: #F86526;
}

.game__number_msg{
    font-size: 6vw;
}
.game__input_number{
    width: 90%;
    padding: .3em 0em;
    padding-left: .5em;
    font-size: 6vw;
    font-style: italic;
    border-radius: 10px;
    font-weight: bold;
    color: #C1BFBF;
}
.btn_go{
    background: #6CD22D;
    width: 30%;
}
/* Escondida al principio, sera mostrada mediante un evento */
.notification{
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.507);
    font-family: 'Inter';
}

.notification{
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: .3em;
    width: 100%;
    height: 13vh;
    top: 43%;
    visibility: hidden;
    background: #F86526;
}
.notification__points{
    width: 25%;
    padding: .1em .1em;
    font-size: 7vw;
    border-radius: 50px;
    text-align: center;
    height: auto;
    background: #f9ce4d;
    display: block;
    position: absolute;
    bottom: -20%;
    font-weight: bold;
}
.notification__text{
    font-size: 8vw;
    margin: 0;
    color: #fff;
    text-align: center;
}
/*ANIMACIONES - ANIMATE.CSS V.4.1.1*/
.lifes__container{
    animation: bounceIn;
    animation-duration: 1.3s;
    display: flex;
    justify-content: space-around;
}
.game > .game__clue{
    animation: bounceInLeft;
    animation-duration: 1s;
}
.game > .game__number{
    animation: bounceInRight;
    animation-duration: 1s;
}
.game__input_number{
    animation: bounceInLeft;
    animation-duration: 1s;
}
.btn_go{
    animation: bounceInUp;
    animation-duration: 1s;
}
/*MEDIA QUERIES*/
@media (min-width:429px) {
    .game__number_text{
        font-size: 15vw;
    }
    .game__input_number{
        font-size: 2.2vw;
    }
    .game__btn{
        font-size: 2vw;
    }
    .game__number_msg{
        font-size: 2.3vw;
    }
    .notification__text{
        font-size: 2.6vw;
    }
    .notification__points{
        font-size: 1.8vw;
    }
}