.menu{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.menu__container_button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__btn{
    width: 40%;
    padding: .5em 2em .5em 2em;
    border-radius: 10px 10px;
    margin-bottom: 1em;
    text-align: center;
}
.menu__btn_rewards{
    position: absolute;
    top: 1vh;
    right: 2vw;
    padding: .5em .8em .5em .8em;
    color: #fff;
    border-radius: 10px;
    font-size: 19pt;
}
.logo_game{
    margin: 1em auto;
    width: 300px;
}
/*
.menu__title{
    font-size: 35pt;
    text-align: left;
    color: #F86526;
    font-style: italic;
    font-weight: 1500;
    font-family: 'Inter';
    margin-bottom: 1em;
    text-align: center;
}*/
.menu__container_button > .start, .howToPlay{
    text-decoration: none;
    color: #fff;
    font-size: 18pt;
    font-family: 'inter';
}
.start{
    background: #6CD22D;
}
.howToPlay{
    background: #DD5A6A;
}
/*ANIMACIONES CSS - ANIMATE.CSS V.4.1.1*/
.menu__title{
    animation: backInDown;
    animation-duration: 2s;
}
.menu__container_button{
    animation: bounceIn;
    animation-duration: 2s;
}