.box_score{
    height: auto;
}
.table__point{
    font-size: 8vw;
    text-align: center;
}
/*Personalizacion a la clase general*/
.game__btn{
    padding: .1em;
    font-size: 12vw;
}
@media (min-width:429px) {
    .table__point{
        font-size: 2vw;
    }
    .game__btn{
        font-size: 3vw;
        width: 30%;
    }
}